Repository TokTok/c-toxcore, pull requests merged in 2025-05, with the labels that each got.

#2905 fix(ngc): dont double every message, if we are not directly connected
  toxcore/group_chats.c
  toxcore/group_common.h
  toxcore/group_connection.c
  toxcore/group_connection.h
Labels: bug

#2906 chore: Release v0.2.21
  CHANGELOG.md
  other/bootstrap_daemon/docker/tox-bootstrapd.sha256
Labels: chore

#2897 chore(toxav): tighten the video bitrate
  toxav/toxav.c
Labels: toxav, chore

#2899 fix(toxav): handle vpx_image_alloc failure
  toxav/toxav.c
Labels: bug, toxav

#2887 chore(toxav): increase the idle iterate interval to 1 second
  toxav/toxav.c
  toxav/video.c
Labels: toxav, chore
